@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #5b6e81;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #000000 !important;
  color: #5b6e81;
}

body {
  background-color: #000000 !important;
  color: #13171b;
}

/* Normal yazılar */
p,
span,
li,
label {
  color: #13171b;
}

/* Başlıklar */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #13171b;
}

/* Linkler */
a {
  color: #13171b;
  text-decoration: none;
}

a:hover {
  color: #13171b;
}

/* Butonlar */
button {
  color: #13171b;
}

/* Form alanları */
input,
textarea,
select {
  background-color: #000000;
  color: #13171b;
  border-color: #13171b;
}

/* Seçili metin */
::selection {
  background: #13171b;
  color: #000000;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #13171b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #13171b;
}